.conteudo-contato
	h2
		font-family: $segoebold
		font-size: 18px
		font-weight: normal
		color: #e96e31
	h2 ~ h2
		margin-top: 28px
	.legenda
		display: block
		width: 271px
		padding-left: 3px
		font-size: 13px
		color: #8a8a8a
		border-bottom: solid 1px #ADADAD
.form-contato, .form-trabalhe, .contato-contatos
	float: left

.form-contato, .form-trabalhe
	width: 274px
	input[type="text"]
		width: 271px
		padding-left: 3px
		border: none
		border-bottom: solid 1px #ADADAD
		font-family: $trebuchet
		font-size: 13px
		color: #8a8a8a
		height: 14px
		margin-bottom: 21px
		line-height: 1em
		outline: none
	textarea
		width: 271px
		height: 125px
		padding-left: 3px
		border: none
		font-size: 13px
		line-height: 38px
		color: #8a8a8a
		background: url(../img/fundo-mensagens.jpg) repeat scroll 0% 0% transparent
	.file
		width: 260px
		overflow: hidden
	input[type="submit"]
		float: right
		border: none
		background: #EA6E32
		color: #fff
		text-transform: lowercase
		font-family: $trebuchet
		font-size: 14px
		width: 68px
		height: 23px
		text-align: center
		margin-right: 2px
		margin-top: 11px
.form-contato
	margin-right: 88px

.contato-contatos
	width: 295px
	float: right
	font-size: 14px
	color: #8a3609
	.contato-telefone, .contato-email
		display: block
		margin-top: 3px
	.contato-telefone
		background: url(../img/icone-telefone-contato.png) no-repeat left center
		padding-left: 20px
	.contato-email
		background: url(../img/icone-email.png) no-repeat left center
		padding-left: 22px