@include declare-font-face('SegoeUIRegular', 'segoeui', 'normal');
@include declare-font-face('SegoeUIBold', 'segoeuib', 'normal');
@include declare-font-face('TrebuchetWeb', 'trebuchet', 'normal');

$segoe: 'SegoeUIRegular', sans-serif;
$segoebold: 'SegoeUIBold', sans-serif;
$trebuchet: 'TrebuchetWeb';