footer
	color: #482b22
	width: 100%
	height: auto
	padding: 70px 0 88px 0
	background: #EA6E32
	font-size: 13px
	p
		margin-top: 0
		color: #482b22 !important
	a
		text-decoration: none
		color: #482b22
	h3
		margin-top: 0
		margin-bottom: 10px
		font-family: $segoebold
		font-size: 13px
		font-weight: normal
	nav
		width: 90px
		float: left
		ul
			margin: 0
			padding: 0
			a
				text-decoration: none
				color: #482b22
				font-size: 13px
				text-transform: lowercase
		& + nav
			width: 170px
			margin-left: 40px

	.linkedin, .linkedin:hover
		background: url(../img/sprite.png)
		background-position: -524px 0
	.facebook, .facebook:hover
		background: url(../img/sprite.png)
		background-position: -449px 0
	.twitter, .twitter:hover
		background: url(../img/sprite.png)
		background-position: -870px 0

.separador-vertical-footer
	width: 1px
	height: 87px
	background: #482b22
	float: left
	margin-top: 6px

.social-footer-container
	width: 90px
	float: left
	margin-left: 204px

.local-footer
	float: left
	margin-left: 60px

.contato-footer
	float: left

.contato-footer-telefone
	line-height: 10px

.contato-footer-telefone span.icone
	display: block
	width: 15px
	height: 11px
	background: url(../img/sprite.png)
	background-position: -829px 0
	float: left
	margin-right: 6px

.contato-footer-email
	line-height: 2.2em
	display: block

.endereco-footer
	float: left
	margin-left: 70px