.interna
	width: 1080px
	margin: 0 auto
body
	font-family: $trebuchet

.conteudo-pagina
	margin-top: 40px
	margin-bottom: 85px
.conteudo-pagina .interna 
	width: 1010px
	h1
		font-family: $segoebold
		font-size: 18px
		font-weight: normal
		color: #e96e31
	& > h1
		display: inline-block
		font-size: 30px
		padding-right: 17px
		background: #fff

	p
		font-size: 14px
		color: #8a3609

.image-hover
	width: 85px
	height: 85px
	float: right
	background: url(../img/sprite.png)
	margin-top: -85px
	position: relative
	background-position: -200px 0
	opacity: 0

.separador-titulo
	width: 100%
	height: 1px
	background: $tahitigold
	margin-top: -37px
	margin-bottom: 37px

.separador-mais
	width: 17px
	height: 17px
	background: url(../img/separador-mais.png)
	float: right
	margin-top: -46px