header .interna > *
	float: left
header .interna .clearfix
	float: none
.marca
	display: block
	width: 194px
	height: 119px
	margin-top: 23px
	text-indent: -9999px
	background: url(../img/sprite.png) no-repeat
	background-position: -945px 0
.sociais
	margin-top: 90px
	margin-left: 218px
.social
	display: block
	width: 20px
	height: 20px
	margin-right: 10px
	float: left
.linkedin
	background: url(../img/sprite.png)
	background-position: -549px 0
	&:hover
		background: url(../img/sprite.png)
		background-position: -574px 0
.facebook
	background: url(../img/sprite.png)
	background-position: -474px 0
	&:hover
		background: url(../img/sprite.png)
		background-position: -499px 0
.twitter
	background: url(../img/sprite.png)
	background-position: -895px 0
	&:hover
		background: url(../img/sprite.png)
		background-position: -920px 0


header .interna nav
	float: right
	> ul
		margin: 0
		padding: 0
		> li
			float: left
			width: 99px
			height: 130px
			& + li
				margin-left: 11px
			> a
				display: block
				width: 99px
				height: 65px
				padding-top: 65px
				text-transform: lowercase
				text-decoration: none
				font-size: 12px
				color: #32302e
				text-align: center
				&:hover, &.active
					color: #FFF
				span.icone
					display: block
					width: 30px
					height: 25px
					margin: 0 auto
					margin-bottom: 8px
					background-image: url(../img/sprite.png)
.projetos-nav:hover
	background: $tahitigold
	color: #FFF
	.nav-categorias ul
		height: auto
		padding-bottom: 8px
	.nav-item-projetos
		color: #fff
		background: $tahitigold
		span.icone
			background-position: -704px 0

.nav-categorias ul
	margin: 0
	padding: 0
	background: $tahitigold
	height: 0
	overflow: hidden
	position: relative
	z-index: 2000
	text-align: center
	color: #fff
	a
		color: #FFF
		text-decoration: none
		font-size: 12px
.nav-item-empresa
	span.icone
		background-position: -379px 0
	&:hover, &.active
		background: $tahitigold
		span.icone
			background-position: -414px 0

.nav-item-projetos
	span.icone
		background-position: -669px 0
	&:hover, &.active
		background: $tahitigold
		span.icone
			background-position: -704px 0

.nav-item-publicacoes
	span.icone
		background-position: -739px 0
	&:hover, &.active
		background: $tahitigold
		span.icone
			background-position: -774px 0

.nav-item-profissionais
	span.icone
		background-position: -599px 0
	&:hover, &.active
		background: $tahitigold
		span.icone
			background-position: -634px 0

.nav-item-contato
	span.icone
		background-position: -290px 0
	&:hover, &.active
		background: $tahitigold
		span.icone
			background-position: -325px 0