.slides-home-wrapper
	margin-top: 22px
	.bx-pager-link
		width: 10px
		height: 10px
		display: block
		float: left
		margin-right: 5px
		text-indent: -9999px
		background: url(../img/bullet.png)
		&:hover, &.active
			background: url(../img/bullet-active.png)
	.bx-controls
		margin-top: -38px
		margin-right: 110px
		position: relative
		float: right
		display: block
		min-width: 30px
	.slide
		a
			display: block
	.slide:hover
		.image-hover
			opacity: 1

.home-destaque
	margin-left: 60px
	margin-top: -80px
	position: relative

.home-destaque-imagem
	display: block
	width: 350px
	height: 300px
	float: left
	border: solid 40px #fff
	&:hover
		.image-hover
			opacity: 1

.separador-vertical
	display:block
	float: left
	width: 66px
	height: 1px
	background-color: #E96E33
	margin-top: 190px
	margin-left: -40px

.home-destaque-texto
	width: 470px
	float: left
	margin: 173px 0 0 13px

.home-destaque-titulo h1
	font-family: $segoe
	text-transform: uppercase
	font-size: 22px
	color: #e96e31
	font-weight: normal
	margin-top: 0
	margin-bottom: 11px

.home-destaque-descricao
	p
		font-size: 14px
		color: #32302e
		margin-top: 0

.home-destaque-detalhes
	display: inline-block
	float: right
	text-decoration: none
	color: #fff
	background: #EA6E32
	font-size: 11px
	padding: 2px 9px
	font-weight: bold
	text-shadow: 1px 1px 0 #666
