
//
// mixin for bullet proof font declaration syntax
//
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../font/#{$font-filename}.eot');
		src: url('../font/#{$font-filename}.eot?#iefix') format('embedded-opentype'),
		url('../font/#{$font-filename}.woff') format('woff'),
		url('../font/#{$font-filename}.ttf') format('truetype'),
		url('../font/#{$font-filename}.svg##{$font-family}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}


@mixin declare-placeholder($color) {
  :-moz-placeholder {
    color: #{$color};
  }
  :-ms-input-placeholder {
    color: #{$color};
  }
  ::-webkit-input-placeholder {
    color: #{$color};
  }
}