.categorias-links
	width: 1050px
.categoria-link
	width: 150px
	height: 406px
	float: left
	margin: 0 22px 22px 0
	text-decoration: none
	color: #FFF
	font-family: $segoebold
	font-size: 16px
	text-shadow: 0 1px 1px #666
	text-align: center
	position: relative
	img
		max-width: 100%
	.image-hover
		-webkit-transition: all .15s ease-in
		-moz-transition: all .15s ease-in
		-o-transition: all .15s ease-in
		transition: all .15s ease-in
		position: absolute
		bottom: 0
		right: 0
	&:hover
		.image-hover
			opacity: 1

.categoria-overlay
	display: block
	position: absolute
	top: 0
	left: 0 
	width: 100%
	height: 100%
	line-height: 406px
	background: rgba(0, 0, 0, .3)	

.projetos-links
	width: 1050px
	.projeto-link
		width: 170px
		height: 170px
		float: left
		margin: 0 40px 40px 0
		&:hover
			.image-hover
				opacity: 1
.projeto-tabs-wrapper
	width: 982px
	margin-left: 27px
.projeto-tabs
	width: 690px
	height: 460px
	float: left
	overflow: hidden

.projeto-tab
	width: 690px
	height: 460px

.projeto-tabs-index-wrapper
	width: 264px
	float: right
	.bx-controls
		width: 242px
		height: 21px
		margin-top: -10px
		position: relative
	.bx-prev, .bx-next
		float: left
		width: 121px
		height 21px
		background: #ADADAD url(../img/botao-esquerdo.png) 16px center no-repeat
		text-indent: -9999px

	.bx-next
		background: #DE763F url(../img/botao-direito.png) 90px center no-repeat

.projeto-tabs-index-page ul
	margin: 0
	padding: 0
	list-style-type: none
	li
		float: left
		margin-right: 22px
		margin-bottom: 22px
		a
			display: block
			width: 110px
			height: 90px
.projeto-titulo
	font-family: $segoe
	font-weight: normal
	font-size: 16px
