.profissionais-conteudo
	width: 736px
	margin: 0 auto	
.descricao-profissionais
	width: 300px
	float: left
	h2
		font-family: $segoebold
		font-weight: normal
		font-size: 18px
		color: #EA6E32

.form-profissionais
	float: right
	color: #8A8A8A
	.input
		display: block
		height: 20px
		margin-top: 18px
		width: 355px
	label
		font-size: 14px
		width: 79px
		float: left
		margin-top: 3px
	input[type="text"]
		width: 274px
		height: 14px
		border: none
		border-bottom: solid 1px #ADADAD
		float: left
		font-family: $trebuchet
		font-size: 13px
		outline: none
		color: #666
	input[type="submit"]
		float: right
		border: none
		background: #EA6E32
		color: #fff
		text-transform: lowercase
		font-family: $trebuchet
		font-size: 12px
		width: 68px
		height: 23px
		text-align: center
		margin-right: 2px
		margin-top: 11px