.publicacao-link
	width: 214px
	height: 280px
	float: left
	margin-right: 50px
	margin-bottom: 46px
	img
		outline: 1px #666 solid
	.image-hover
		margin-top: -91px !important
	&:hover
		.image-hover
			opacity: 1
	.image-hover
		z-index: 1000

.publicacoes-lightbox-slider-wrapper
	height: 615px
	width: 980px
	margin-left: 58px
	img + img
		margin-left: 20px
	.bx-controls
		margin-top: -326px
	.bx-prev, .bx-next
		width: 30px
		height: 30px
		text-indent: -9999px
		background: url(../img/publicacoes-prev.jpg)
		float: left
	.bx-prev
		margin-left: -58px
	.bx-next
		background: url(../img/publicacoes-next.jpg)
		float: right
		margin-right: -43px
.publicacoes-lightbox-slide
	height: 615px
	//width: 1100px !important

.nlightbox-overlay
	display: none
	position: absolute
	top: 0%
	left: 0%
	width: 100%
	height: 100%
	min-height: 1000px
	background-color: black
	z-index: 1001
	-moz-opacity: 0.8
	opacity: .80
	filter: alpha(opacity=80)

.nlightbox-content-wrapper
	display: block
	position: absolute
	top: 178px
	left: 50%
	margin-left: -550px
	width: 1080px
	height: 740px
	background-color: transparent
	z-index: 0
	overflow: hidden
	opacity: 0

.nlightbox-close
	width: 10px
	height: 10px
	float: right
	background: url(../img/botao-fechar.png)
	text-indent: -9999px
