.sprite-botao-direito-publicacoes{ background-position: 0 0; width: 30px; height: 30px; } 
.sprite-botao-direito{ background-position: -35px 0; width: 15px; height: 10px; } 
.sprite-botao-esquerdo-publicacoes{ background-position: -55px 0; width: 30px; height: 30px; } 
.sprite-botao-esquerdo{ background-position: -90px 0; width: 15px; height: 10px; } 
.sprite-hover-publicacoes{ background-position: -110px 0; width: 85px; height: 85px; } 
.sprite-hover{ background-position: -200px 0; width: 85px; height: 85px; } 
.sprite-icone-contato{ background-position: -290px 0; width: 30px; height: 25px; } 
.sprite-icone-contato2{ background-position: -325px 0; width: 30px; height: 25px; } 
.sprite-icone-email{ background-position: -360px 0; width: 14px; height: 10px; } 
.sprite-icone-empresa{ background-position: -379px 0; width: 30px; height: 25px; } 
.sprite-icone-empresa2{ background-position: -414px 0; width: 30px; height: 25px; } 
.sprite-icone-facebook-rodape{ background-position: -449px 0; width: 20px; height: 20px; } 
.sprite-icone-facebook{ background-position: -474px 0; width: 20px; height: 20px; } 
.sprite-icone-facebook2{ background-position: -499px 0; width: 20px; height: 20px; } 
.sprite-icone-linkedin-rodape{ background-position: -524px 0; width: 20px; height: 20px; } 
.sprite-icone-linkedin{ background-position: -549px 0; width: 20px; height: 20px; } 
.sprite-icone-linkedin2{ background-position: -574px 0; width: 20px; height: 20px; } 
.sprite-icone-profissionais{ background-position: -599px 0; width: 30px; height: 25px; } 
.sprite-icone-profissionais2{ background-position: -634px 0; width: 30px; height: 25px; } 
.sprite-icone-projetos{ background-position: -669px 0; width: 30px; height: 25px; } 
.sprite-icone-projetos2{ background-position: -704px 0; width: 30px; height: 25px; } 
.sprite-icone-publicacoes{ background-position: -739px 0; width: 30px; height: 25px; } 
.sprite-icone-publicacoes2{ background-position: -774px 0; width: 30px; height: 25px; } 
.sprite-icone-telefone-contato{ background-position: -809px 0; width: 15px; height: 11px; } 
.sprite-icone-telefone{ background-position: -829px 0; width: 14px; height: 10px; } 
.sprite-icone-titulo-da-pagina{ background-position: -848px 0; width: 17px; height: 17px; } 
.sprite-icone-twitter-rodape{ background-position: -870px 0; width: 20px; height: 20px; } 
.sprite-icone-twitter{ background-position: -895px 0; width: 20px; height: 20px; } 
.sprite-icone-twitter2{ background-position: -920px 0; width: 20px; height: 20px; } 
.sprite-logo-hi-spada{ background-position: -945px 0; width: 194px; height: 119px; } 