@font-face {
  font-family: "SegoeUIRegular";
  src: url("../font/segoeui.eot");
  src: url("../font/segoeui.eot?#iefix") format("embedded-opentype"), url("../font/segoeui.woff") format("woff"), url("../font/segoeui.ttf") format("truetype"), url("../font/segoeui.svg#SegoeUIRegular") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "SegoeUIBold";
  src: url("../font/segoeuib.eot");
  src: url("../font/segoeuib.eot?#iefix") format("embedded-opentype"), url("../font/segoeuib.woff") format("woff"), url("../font/segoeuib.ttf") format("truetype"), url("../font/segoeuib.svg#SegoeUIBold") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "TrebuchetWeb";
  src: url("../font/trebuchet.eot");
  src: url("../font/trebuchet.eot?#iefix") format("embedded-opentype"), url("../font/trebuchet.woff") format("woff"), url("../font/trebuchet.ttf") format("truetype"), url("../font/trebuchet.svg#TrebuchetWeb") format("svg");
  font-weight: "normal";
  font-style: normal;
  font-stretch: normal; }

/*Jquuery UI */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 11px 0 4px 24px;
  line-height: 1em;
  background: #ece2ca url(../img/areas-de-atuacao_mais.png) no-repeat 8px center;
  font-size: 15px;
  color: #4d4d4d; }
  .ui-accordion .ui-accordion-header.ui-state-active {
    color: white;
    background: #8c504b url(../img/areas-de-atuacao_menos.png) no-repeat 8px center; }

.ui-accordion .ui-accordion-icons {
  padding-left: 24px; }

.ui-accordion .ui-accordion-noicons {
  padding-left: 0.7em; }

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em; }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px; }

.ui-accordion .ui-accordion-content {
  padding-left: 22px;
  border-top: 0;
  overflow: auto; }
  .ui-accordion .ui-accordion-content b, .ui-accordion .ui-accordion-content strong {
    color: #8c504b; }
  .ui-accordion .ui-accordion-content p {
    font-size: 14px; }
  .ui-accordion .ui-accordion-content ul {
    margin: 0;
    padding: 0; }

.ui-accordion-content {
  padding-bottom: 30px; }

.interna {
  width: 1080px;
  margin: 0 auto; }

body {
  font-family: "TrebuchetWeb"; }

.conteudo-pagina {
  margin-top: 40px;
  margin-bottom: 85px; }

.conteudo-pagina .interna {
  width: 1010px; }
  .conteudo-pagina .interna h1 {
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #e96e31; }
  .conteudo-pagina .interna > h1 {
    display: inline-block;
    font-size: 30px;
    padding-right: 17px;
    background: white; }
  .conteudo-pagina .interna p {
    font-size: 14px;
    color: #8a3609; }

.image-hover {
  width: 85px;
  height: 85px;
  float: right;
  background: url(../img/sprite.png);
  margin-top: -85px;
  position: relative;
  background-position: -200px 0;
  opacity: 0; }

.separador-titulo {
  width: 100%;
  height: 1px;
  background: #de763f;
  margin-top: -37px;
  margin-bottom: 37px; }

.separador-mais {
  width: 17px;
  height: 17px;
  background: url(../img/separador-mais.png);
  float: right;
  margin-top: -46px; }

header .interna > * {
  float: left; }

header .interna .clearfix {
  float: none; }

.marca {
  display: block;
  width: 194px;
  height: 119px;
  margin-top: 23px;
  text-indent: -9999px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -945px 0; }

.sociais {
  margin-top: 90px;
  margin-left: 218px; }

.social {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left; }

.linkedin {
  background: url(../img/sprite.png);
  background-position: -549px 0; }
  .linkedin:hover {
    background: url(../img/sprite.png);
    background-position: -574px 0; }

.facebook {
  background: url(../img/sprite.png);
  background-position: -474px 0; }
  .facebook:hover {
    background: url(../img/sprite.png);
    background-position: -499px 0; }

.twitter {
  background: url(../img/sprite.png);
  background-position: -895px 0; }
  .twitter:hover {
    background: url(../img/sprite.png);
    background-position: -920px 0; }

header .interna nav {
  float: right; }
  header .interna nav > ul {
    margin: 0;
    padding: 0; }
    header .interna nav > ul > li {
      float: left;
      width: 99px;
      height: 130px; }
      header .interna nav > ul > li + li {
        margin-left: 11px; }
      header .interna nav > ul > li > a {
        display: block;
        width: 99px;
        height: 65px;
        padding-top: 65px;
        text-transform: lowercase;
        text-decoration: none;
        font-size: 12px;
        color: #32302e;
        text-align: center; }
        header .interna nav > ul > li > a:hover, header .interna nav > ul > li > a.active {
          color: white; }
        header .interna nav > ul > li > a span.icone {
          display: block;
          width: 30px;
          height: 25px;
          margin: 0 auto;
          margin-bottom: 8px;
          background-image: url(../img/sprite.png); }

.projetos-nav:hover {
  background: #de763f;
  color: white; }
  .projetos-nav:hover .nav-categorias ul {
    height: auto;
    padding-bottom: 8px; }
  .projetos-nav:hover .nav-item-projetos {
    color: white;
    background: #de763f; }
    .projetos-nav:hover .nav-item-projetos span.icone {
      background-position: -704px 0; }

.nav-categorias ul {
  margin: 0;
  padding: 0;
  background: #de763f;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 2000;
  text-align: center;
  color: white; }
  .nav-categorias ul a {
    color: white;
    text-decoration: none;
    font-size: 12px; }

.nav-item-empresa span.icone {
  background-position: -379px 0; }
.nav-item-empresa:hover, .nav-item-empresa.active {
  background: #de763f; }
  .nav-item-empresa:hover span.icone, .nav-item-empresa.active span.icone {
    background-position: -414px 0; }

.nav-item-projetos span.icone {
  background-position: -669px 0; }
.nav-item-projetos:hover, .nav-item-projetos.active {
  background: #de763f; }
  .nav-item-projetos:hover span.icone, .nav-item-projetos.active span.icone {
    background-position: -704px 0; }

.nav-item-publicacoes span.icone {
  background-position: -739px 0; }
.nav-item-publicacoes:hover, .nav-item-publicacoes.active {
  background: #de763f; }
  .nav-item-publicacoes:hover span.icone, .nav-item-publicacoes.active span.icone {
    background-position: -774px 0; }

.nav-item-profissionais span.icone {
  background-position: -599px 0; }
.nav-item-profissionais:hover, .nav-item-profissionais.active {
  background: #de763f; }
  .nav-item-profissionais:hover span.icone, .nav-item-profissionais.active span.icone {
    background-position: -634px 0; }

.nav-item-contato span.icone {
  background-position: -290px 0; }
.nav-item-contato:hover, .nav-item-contato.active {
  background: #de763f; }
  .nav-item-contato:hover span.icone, .nav-item-contato.active span.icone {
    background-position: -325px 0; }

.slides-home-wrapper {
  margin-top: 22px; }
  .slides-home-wrapper .bx-pager-link {
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin-right: 5px;
    text-indent: -9999px;
    background: url(../img/bullet.png); }
    .slides-home-wrapper .bx-pager-link:hover, .slides-home-wrapper .bx-pager-link.active {
      background: url(../img/bullet-active.png); }
  .slides-home-wrapper .bx-controls {
    margin-top: -38px;
    margin-right: 110px;
    position: relative;
    float: right;
    display: block;
    min-width: 30px; }
  .slides-home-wrapper .slide a {
    display: block; }
  .slides-home-wrapper .slide:hover .image-hover {
    opacity: 1; }

.home-destaque {
  margin-left: 60px;
  margin-top: -80px;
  position: relative; }

.home-destaque-imagem {
  display: block;
  width: 350px;
  height: 300px;
  float: left;
  border: solid 40px white; }
  .home-destaque-imagem:hover .image-hover {
    opacity: 1; }

.separador-vertical {
  float: left;
  width: 66px;
  height: 1px;
  background-color: #e96e33;
  margin-top: 190px;
  margin-left: -40px; }

.home-destaque-texto {
  width: 470px;
  float: left;
  margin: 173px 0 0 13px; }

.home-destaque-titulo h1 {
  font-family: "SegoeUIRegular", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: #e96e31;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 11px; }

.home-destaque-descricao p {
  font-size: 14px;
  color: #32302e;
  margin-top: 0; }

.home-destaque-detalhes {
  display: inline-block;
  float: right;
  text-decoration: none;
  color: white;
  background: #ea6e32;
  font-size: 11px;
  padding: 2px 9px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #666666; }

.texto-empresa {
  width: 470px;
  float: left; }

.imagem-empresa {
  float: right; }

.categorias-links {
  width: 1050px; }

.categoria-link {
  width: 150px;
  height: 406px;
  float: left;
  margin: 0 22px 22px 0;
  text-decoration: none;
  color: white;
  font-family: "SegoeUIBold", sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px #666666;
  text-align: center;
  position: relative; }
  .categoria-link img {
    max-width: 100%; }
  .categoria-link .image-hover {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    position: absolute;
    bottom: 0;
    right: 0; }
  .categoria-link:hover .image-hover {
    opacity: 1; }

.categoria-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 406px;
  background: rgba(0, 0, 0, 0.3); }

.projetos-links {
  width: 1050px; }
  .projetos-links .projeto-link {
    width: 170px;
    height: 170px;
    float: left;
    margin: 0 40px 40px 0; }
    .projetos-links .projeto-link:hover .image-hover {
      opacity: 1; }

.projeto-tabs-wrapper {
  width: 982px;
  margin-left: 27px; }

.projeto-tabs {
  width: 690px;
  height: 460px;
  float: left;
  overflow: hidden; }

.projeto-tab {
  width: 690px;
  height: 460px; }

.projeto-tabs-index-wrapper {
  width: 264px;
  float: right; }
  .projeto-tabs-index-wrapper .bx-controls {
    width: 242px;
    height: 21px;
    margin-top: -10px;
    position: relative; }
  .projeto-tabs-index-wrapper .bx-prev, .projeto-tabs-index-wrapper .bx-next {
    float: left;
    width: 121px;
    background: #adadad url(../img/botao-esquerdo.png) 16px center no-repeat;
    text-indent: -9999px; }
  .projeto-tabs-index-wrapper .bx-next {
    background: #de763f url(../img/botao-direito.png) 90px center no-repeat; }

.projeto-tabs-index-page ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .projeto-tabs-index-page ul li {
    float: left;
    margin-right: 22px;
    margin-bottom: 22px; }
    .projeto-tabs-index-page ul li a {
      display: block;
      width: 110px;
      height: 90px; }

.projeto-titulo {
  font-family: "SegoeUIRegular", sans-serif;
  font-weight: normal;
  font-size: 16px; }

.publicacao-link {
  width: 214px;
  height: 280px;
  float: left;
  margin-right: 50px;
  margin-bottom: 46px; }
  .publicacao-link img {
    outline: 1px #666666 solid; }
  .publicacao-link .image-hover {
    margin-top: -91px !important; }
  .publicacao-link:hover .image-hover {
    opacity: 1; }
  .publicacao-link .image-hover {
    z-index: 1000; }

.publicacoes-lightbox-slider-wrapper {
  height: 615px;
  width: 980px;
  margin-left: 58px; }
  .publicacoes-lightbox-slider-wrapper img + img {
    margin-left: 20px; }
  .publicacoes-lightbox-slider-wrapper .bx-controls {
    margin-top: -326px; }
  .publicacoes-lightbox-slider-wrapper .bx-prev, .publicacoes-lightbox-slider-wrapper .bx-next {
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url(../img/publicacoes-prev.jpg);
    float: left; }
  .publicacoes-lightbox-slider-wrapper .bx-prev {
    margin-left: -58px; }
  .publicacoes-lightbox-slider-wrapper .bx-next {
    background: url(../img/publicacoes-next.jpg);
    float: right;
    margin-right: -43px; }

.publicacoes-lightbox-slide {
  height: 615px; }

.nlightbox-overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.nlightbox-content-wrapper {
  display: block;
  position: absolute;
  top: 178px;
  left: 50%;
  margin-left: -550px;
  width: 1080px;
  height: 740px;
  background-color: transparent;
  z-index: 0;
  overflow: hidden;
  opacity: 0; }

.nlightbox-close {
  width: 10px;
  height: 10px;
  float: right;
  background: url(../img/botao-fechar.png);
  text-indent: -9999px; }

.profissionais-conteudo {
  width: 736px;
  margin: 0 auto; }

.descricao-profissionais {
  width: 300px;
  float: left; }
  .descricao-profissionais h2 {
    font-family: "SegoeUIBold", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #ea6e32; }

.form-profissionais {
  float: right;
  color: #8a8a8a; }
  .form-profissionais .input {
    display: block;
    height: 20px;
    margin-top: 18px;
    width: 355px; }
  .form-profissionais label {
    font-size: 14px;
    width: 79px;
    float: left;
    margin-top: 3px; }
  .form-profissionais input[type="text"] {
    width: 274px;
    height: 14px;
    border: none;
    border-bottom: solid 1px #adadad;
    float: left;
    font-family: "TrebuchetWeb";
    font-size: 13px;
    outline: none;
    color: #666666; }
  .form-profissionais input[type="submit"] {
    float: right;
    border: none;
    background: #ea6e32;
    color: white;
    text-transform: lowercase;
    font-family: "TrebuchetWeb";
    font-size: 12px;
    width: 68px;
    height: 23px;
    text-align: center;
    margin-right: 2px;
    margin-top: 11px; }

.conteudo-contato h2 {
  font-family: "SegoeUIBold", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #e96e31; }
.conteudo-contato h2 ~ h2 {
  margin-top: 28px; }
.conteudo-contato .legenda {
  display: block;
  width: 271px;
  padding-left: 3px;
  font-size: 13px;
  color: #8a8a8a;
  border-bottom: solid 1px #adadad; }

.form-contato, .form-trabalhe, .contato-contatos {
  float: left; }

.form-contato, .form-trabalhe {
  width: 274px; }
  .form-contato input[type="text"], .form-trabalhe input[type="text"] {
    width: 271px;
    padding-left: 3px;
    border: none;
    border-bottom: solid 1px #adadad;
    font-family: "TrebuchetWeb";
    font-size: 13px;
    color: #8a8a8a;
    height: 14px;
    margin-bottom: 21px;
    line-height: 1em;
    outline: none; }
  .form-contato textarea, .form-trabalhe textarea {
    width: 271px;
    height: 125px;
    padding-left: 3px;
    border: none;
    font-size: 13px;
    line-height: 38px;
    color: #8a8a8a;
    background: url(../img/fundo-mensagens.jpg) repeat scroll 0% 0% transparent; }
  .form-contato .file, .form-trabalhe .file {
    width: 260px;
    overflow: hidden; }
  .form-contato input[type="submit"], .form-trabalhe input[type="submit"] {
    float: right;
    border: none;
    background: #ea6e32;
    color: white;
    text-transform: lowercase;
    font-family: "TrebuchetWeb";
    font-size: 14px;
    width: 68px;
    height: 23px;
    text-align: center;
    margin-right: 2px;
    margin-top: 11px; }

.form-contato {
  margin-right: 88px; }

.contato-contatos {
  width: 295px;
  float: right;
  font-size: 14px;
  color: #8a3609; }
  .contato-contatos .contato-telefone, .contato-contatos .contato-email {
    display: block;
    margin-top: 3px; }
  .contato-contatos .contato-telefone {
    background: url(../img/icone-telefone-contato.png) no-repeat left center;
    padding-left: 20px; }
  .contato-contatos .contato-email {
    background: url(../img/icone-email.png) no-repeat left center;
    padding-left: 22px; }

footer {
  color: #482b22;
  width: 100%;
  height: auto;
  padding: 70px 0 88px 0;
  background: #ea6e32;
  font-size: 13px; }
  footer p {
    margin-top: 0;
    color: #482b22 !important; }
  footer a {
    text-decoration: none;
    color: #482b22; }
  footer h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 13px;
    font-weight: normal; }
  footer nav {
    width: 90px;
    float: left; }
    footer nav ul {
      margin: 0;
      padding: 0; }
      footer nav ul a {
        text-decoration: none;
        color: #482b22;
        font-size: 13px;
        text-transform: lowercase; }
    footer nav + nav {
      width: 170px;
      margin-left: 40px; }
  footer .linkedin, footer .linkedin:hover {
    background: url(../img/sprite.png);
    background-position: -524px 0; }
  footer .facebook, footer .facebook:hover {
    background: url(../img/sprite.png);
    background-position: -449px 0; }
  footer .twitter, footer .twitter:hover {
    background: url(../img/sprite.png);
    background-position: -870px 0; }

.separador-vertical-footer {
  width: 1px;
  height: 87px;
  background: #482b22;
  float: left;
  margin-top: 6px; }

.social-footer-container {
  width: 90px;
  float: left;
  margin-left: 204px; }

.local-footer {
  float: left;
  margin-left: 60px; }

.contato-footer {
  float: left; }

.contato-footer-telefone {
  line-height: 10px; }

.contato-footer-telefone span.icone {
  display: block;
  width: 15px;
  height: 11px;
  background: url(../img/sprite.png);
  background-position: -829px 0;
  float: left;
  margin-right: 6px; }

.contato-footer-email {
  line-height: 2.2em;
  display: block; }

.endereco-footer {
  float: left;
  margin-left: 70px; }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden;
  background: #FFF; }
  body p {
    color: #666; }

.placeholder {
  color: #8a8a8a; }

::-webkit-input-placeholder {
  color: #8a8a8a; }

:-moz-placeholder {
  color: #8a8a8a; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
